{% macro render_blog_post(post, from_index=false) %}
  <article class="blog-post">
    <header>
      <h2>
        {% if from_index %}<a href="{{ post|url }}">{% endif %}
        {{ post.title }}
        {% if from_index %}</a>{% endif %}
      </h2>
      <p class="meta">
        written by {{ post.author }} on <time datetime="{{ post.pub_date.isoformat() }}">{{ post.pub_date | dateformat('full') }}</time>
      </p>
    </header>

    <section class="blog-post-body">
      {{ post.body }}
    </section>
    {% if from_index %}
      <footer>
        <a href="{{ post|url }}">weiterlesen…</a>
      </footer>
    {% endif %}
  </article>
{% endmacro %}

{% macro render_category_nav(this, active=none) %}
  <ul>
  {% for category in site.query('/categories', alt=this.alt) %}
    <li{% if category._id == active %} class="active"{% endif
      %}><a href="{{ category|url }}">{{ category.title }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_blog_posts_in_category(category) %}
  <ul>
  {% for blog_posts in category.children %}
    <li><a href="{{ blog_posts|url }}">{{ blog_posts.title }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_categories_from_blog_post(post) %}
  <div class="category-list">
    Kategorien:
    {%- for category_id in post.categories %}
      {% set category = site.query('/categories').get(category_id) %}
      <a href="{{ category | url }}">{{ category.title }}</a>
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
