<ul class="nav">
  <li class="nav-item copyright">
    <span class="nav-link">&copy; {{ date.today() | dateformat('yyyy') }} <a href="{{ '/work' | url(alt=alt) }}">Martin Häcker</a></span>
  </li>
  {% for block in site.get('meta', alt=alt).blocks.blocks %}
    {% set anchor =  block.text.source.split('"')[1] %}
    <li class="nav-item {{ anchor }}">
      <a class="nav-link" href="{{ '/meta' | url(alt=alt) }}#{{ anchor }}">
        {{ block.title }}
      </a></li>
  {% endfor %}
  <li class="ml-auto nav-item rss-feed">
    <a class="nav-link" href="{{ '/blog@atom/main' | url }}">
      <img class="rss-icon" src=/static/rss.svg height=25 width=25>
      <span class="sr-only">RSS-Feed</span>
    </a>
  </li>
  <li class="nav-item license">
    <a class="nav-link" 
      rel="license" 
      target="_blank" 
      href="{{ bag('creative-commons', this.alt, 'href') }}"
    >
      <img 
        src="/static/cc-by-sa-88x31.png"
        alt="{{ bag('creative-commons', this.alt, 'title') }}"
      >
    </a>
  </li>
</ul>
