<nav class="navbar navbar-expand-sm">
  <a href="{{ '/'|url }}" class="navbar-brand {% 
    if this._path == '/' %}active{% endif 
    %}">🏠{% if this._path == '/' %}<span class="sr-only">(ausgewählt)</span>{% endif %}</a>
  <input type="checkbox" id="navbar-toggle-checkbox">
  <label for="navbar-toggle-checkbox" class="navbar-brand navbar-toggle d-sm-none float-right" aria-label="Navigation Umschalten">
    <span></span>
  </label>
  <ul class="navbar-nav collapse navbar-collapse">
    {% for href in [
      '/work', '/projects', '/publications', '/blog', '/categories', 
    ] %}
      <li class="nav-item {% if this.is_child_of(href) %}active{% endif
        %}"><a href="{{ href|url(alt=alt) }}" class="nav-link">{{ site.get(href, alt=alt).record_label }}{% 
        if this.is_child_of(href) %}<span class="sr-only">(ausgewählt)</span>{% endif
        %}</a></li>
    {% endfor %}
    <li class="nav-item ml-auto">
      <a class=nav-link href="{{ '.'|url(alt='de') }}">🇩🇪</a>
    </li>
    <li class="nav-item pull-right">
      <a class=nav-link href="{{ '.'|url(alt='en') }}">🇬🇧</a>
    </li>
  </ul>
</nav>
<nav class="breadcrumb">
  {{ render_breadcrumbs(this) }}
</nav>
