{% extends "page.html" %}
{% from "macros/blog.html" import render_category_nav %}
{% block body %}
  <section>
    {{ this.body }}
  </section>
  <section>
  {{ render_category_nav(this, active=none) }}
  </section>
{% endblock %}
