{% extends "page.html" %}

{% from "macros/blog.html" import render_blog_post, render_categories_from_blog_post %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  {{ render_blog_post(this) }}
  <nav>
    {{ render_categories_from_blog_post(this) }}
    
    <div class="relative-navigation">
      {% if this.has_prev() %}
        <div class="prev">Vorheriges Post: <a class="prev" href="{{ this.get_siblings().prev_page|url }}">{{ this.get_siblings().prev_page.title }}</a></div>
      {% endif %}
      {% if this.has_next() %}
        <div class="next">Nächstes Post: <a class="next" href="{{ this.get_siblings().next_page|url }}">{{ this.get_siblings().next_page.title }}</a></div>
      {% endif %}
    </div>
    
  </nav>
{% endblock %}

