{% from "macros/breadcrumbs.html" import render_breadcrumbs %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/static/bootstrap-4.1.1/css/bootstrap.min.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    <title>{% block title %}{{ this.title }}{% endblock %}</title>
    <link rel="alternate" type="application/atom+xml" title="RSS: Martin Häckers Blog Artikel" href="{{ '/blog@atom/main' | url }}" />
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <article class="page {{ this._id }} {% block page_class %}{% endblock %} container-fluid">
      {% block body %}
        <header>
            <h1>{{ self.title() }}</h1>
        </header>
        <section>
            {{ this.body }}
        </section>
        {% if this.blocks %}
            {% for item in this.blocks.blocks %}
                <section>{{ item }}</section>
            {% endfor %}
        {% endif %}
      {% endblock %}
    </article>
    <footer class="container-fluid ">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>
